@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-sora);
}

:root{
    --heading-color:#193555;
    --text-color:#697e8a;
    --black:#000;
    --black:#fff;
    --btn-color:#193555;
}

@layer utilities{
    
}